@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', serif;
}
body { 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container {
    width: 576px;
    height: 876px;
    display: flex;
    align-items: center;
flex-direction: column;
background-color: rgb(227, 230, 228);
box-shadow: 1px 4px 2px 2px rgba(0, 0, 0, 0.5);
border-radius: 20px;

   
}
h1 {
    margin-top: 60px;
    font-size: 88px;
    font-weight: bold;
    text-align: center;
    color: rgb(3, 83, 83);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}
.input-number{
    margin-bottom: 10px;
    font-size: 40px;
    width: 130px;
    height: 80px;
  border-radius: 5px;
  margin-right: 40px;
}
.tag-e{
    position: relative;
    right: -36px;
}
label{
    font-size: 30px;
    color: rgb(16, 19, 18);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.mybutton{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(3, 83, 83);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.mybutton:hover{
    opacity: 0.8;
}
.mybutton:active{
    transform: scale(0.2);
    opacity: 0.5;
}

